[submodule "02_Projects/g4-p1-auxilio-mecanico/repo-auxilio-mecanico-g4"]
	path = 02_Projects/g4-p1-auxilio-mecanico/repo-auxilio-mecanico-g4
	url = https://github.com/O-Javier-Hidalgo-R/auxilio-mecanico-g4.git
